.coin-wrapper {
  margin-top: 20px;
}

.coin-wrapper .main-title {
  font-size: 2rem;
  color: #666;
  padding-top: 5px;
}

.coin-wrapper > table td .ui.image.header,
.coin-wrapper > table td .ui.image.header .content > .sub.header {
  color: #fff;
}

.coin-wrapper > table td,
.coin-wrapper > table td .ui.header {
  font-size: 1.3rem;
}

.coin-wrapper > table td.td-price {
  font-size: 1.5rem;
  font-weight: 700;
}
