.coin-wrapper {
  margin-top: 20px;
}

.coin-wrapper .main-title {
  font-size: 2rem;
  color: #666;
  padding-top: 5px;
}

.coin-wrapper > table td .ui.image.header,
.coin-wrapper > table td .ui.image.header .content > .sub.header {
  color: #fff;
}

.coin-wrapper > table td,
.coin-wrapper > table td .ui.header {
  font-size: 1.2rem;
}

.coin-wrapper > table td.td-price {
  font-size: 1.3rem;
  font-weight: 700;
}

.coin-wrapper .converter-container {
  padding: 12px 23px !important;
}

.coin-wrapper .converter-container .ui.form .fields > .field {
  padding: 0;
}

.coin-wrapper .converter-container .ui.form .fields > .field input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

.coin-wrapper .converter-container .ui.form .fields > .ui.button {
  margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
